/* reset start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  letter-spacing: 0.1rem;
}

li {
  list-style-type: none;
}
/* reset end */

/* body start */
body {
  font-size: 10px;
}
/* body end */

/* header start */
header {
  background-color: #d35400;
  height: 3rem;
}

.container-title-logo {
  display: flex;
  justify-content: center;
}

.text-title-logo {
  font-size: 1rem;
  color: #f5f6fa;
  cursor: pointer;
  padding: 0.6rem;
  margin-top: 0.2rem;
}

.text-title-logo:hover {
  transition: all 0.2s;
  background-color: #e67e22;
  border-radius: 0.2rem;
}
/* header end */

/* main start*/
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 30rem;
}
/* main end*/

/* todo start */
.container-todo-list {
  border: 0.1rem solid #979393;
  padding: 1rem;
  width: 40%;
}

legend {
  margin-left: auto;
  margin-right: auto;
  color: #4d4d4d;
  padding: 1rem;
}

.title-todo-list {
  color: #d35400;
  font-size: 1.2rem;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.container-input-button {
  display: flex;
}

input {
  margin-right: 0.5rem;
  padding: 0.4rem 1rem;
  outline: 0;
  border: 0.1rem solid #979393;
  border-radius: 0.2rem;
  flex: 1;
}

.text-info-danger {
  color: #d63031;
  font-weight: bold;
}

.text-info-succes {
  display: none;
}

.container-text-info {
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li fieldset {
  margin-bottom: 2rem;
  border: 0.1rem solid #979393;
  padding: 0.5rem;
  width: 100%;
}

.title-todo {
  font-size: 0.8rem;
}

.number {
  color: #d35400;
  font-weight: bold;
}

.container-done-text-todo-check {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
  font-weight: bold;
  border-radius: 0.2rem;
}

.todo {
  height: 2rem;
  width: 2rem;
  border-radius: 2.5rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1rem;
  color: #d35400;
  border: 0.1rem solid #d35400;
}

.done {
  height: 2rem;
  width: 2rem;
  border-radius: 2.5rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: #f5f6fa;
  background-color: #d35400;
}

.container-text-todo {
  margin-left: 3rem;
  margin-right: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-square,
.fa-square-check {
  font-size: 1.5rem;
  color: #d35400;
  cursor: pointer;
}

.container-edit-delete-button {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
/* todo end */

/* edit start */
.edit-title-todo {
  font-size: 0.8rem;
}

.container-edit-text-todo-input {
  display: flex;
}

.container-edit-text-todo-input input {
  margin-bottom: 0;
  margin-left: 2.5rem;
  margin-right: 0;
}

.container-edit-text-info {
  margin-left: 2.7rem;
  margin-top: 0.1rem;
}

.container-save-cancel-button {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
/* edit end */

/* button start */
button {
  border: none;
  background-color: #d35400;
  color: #f5f6fa;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.2rem;
  height: 2rem;
  font-size: 0.8rem;
}

button:hover {
  background-color: #e67e22;
  transition: all 0.2s;
  cursor: pointer;
}

.edit-button {
  width: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.delete-button {
  width: 6rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
/* button end */

/* footer start */
footer {
  height: 8rem;
  background-color: #4d4d4d;
  color: #f5f6fa;
  font-size: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  height: 1rem;
  width: 1rem;
  margin-bottom: -0.1rem;
}

.j {
  font-family: "Roboto Condensed", sans-seri;
}

.e {
  font-family: "Roboto Condensed", sans-seri;
}
/* footer end */
